<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1 id="archive_title">
        <%= @user.name %>
        <%= @user.last_name %>
      </h1>
    </section>
  </aside>

  <%= image_tag @user.picture %>

  <%= link_to 'Portfolio', portfolio_path(@user.id) %>
  

</div>