<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1 id="archive_title">
        Hello, <%= @user.name %>
        <% unless @user.last_name.blank? or @user.last_name == nil %><%= @user.last_name %><%end %>
      </h1>
    </section>
  </aside>

  <%= image_tag @user.picture %>
  <% unless @user.portfolio == nil %>
    <%= link_to 'Portfolio', user_portfolio_path(@user.id, @user.portfolio.id) %>
  <% end %>

</div>