<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1 id="archive_title">
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <%= image_tag @user.picture %>
  

</div>